.blink_1,
.blink_2 {
    background-color: darkcyan;
    width: 50px;
    height: 50px;
}
.blink_1 {
    animation: blinker 0.5s linear infinite;
}
.blink_2 {
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
